.text {
  font-family: var(--font-family);
  font-size: var(--font-base-size);
  line-height: var(--line-height-base);
  color: var(--ink);


  &--caption {
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    line-height: var(--caption-line-height);
    color: var(--sky);
  }
}