.color-sky {
  color: var(--sky);
}

.color-sky-l2 {
  color: var(--sky-l2);
}

.color-sky-l3 {
  color: var(--sky-l2);
}

.color-ink-l1 {
  color: var(--sky-l1);
}

.color-danger {
  color: var(--danger);
}

.color-success {
  color: var(--success);
}

.color-brand {
  color: var(--brand);
}

.bold {
  font-weight: 600;
}