
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;

  &__td,
  &__th {
    text-align: center;
    padding: 12px 8px;
    vertical-align: middle;

    &:first-child {
      padding-left: 0;
    }
  }

  &__th {
    &--header {
      padding: 4px 8px;
      color: var(--sky-l1);
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__td {
    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__tr {
    border-bottom: 1px solid var(--sky-l2);

    &--header {
      border-bottom: 2px solid var(--sky-l1);
    }
  }
}