
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;

  &__td,
  &__th {
    text-align: left;
    padding: 4px 8px;
    vertical-align: middle;

    &:first-child {
      padding-left: 0;
    }
  }

  &__th {
    &--header {
      color: var(--sky-l1);
    }
  }

  &__tr {
    border-bottom: 1px solid var(--sky-l2);

    &--header {
      border-bottom: 2px solid var(--sky-l1);
    }
  }
}